<page-header [title]="'个人上传'" [extra]="extra">
  <ng-template #extra>
    <div style="margin-top: -60px; text-align: center; width: 195px;">
      <img class="img-fluid" src="https://gw.alipayobjects.com/zos/rmsportal/RzwpdLnhmvDJToTdfDPe.png" />
    </div>
  </ng-template>
  个人最新上传图书

</page-header>
<nz-card>
  <nz-upload [nzAction]="uploadUrl" (nzChange)="change($event)">
    <button nz-button [nzType]="'dashed'"><i nz-icon nzType="upload"></i><span>Click to Upload</span></button>
  </nz-upload>
</nz-card>
<nz-list [nzLoading]="loading" [nzDataSource]="list" [nzRenderItem]="item"
  [nzGrid]="{ gutter: 24, lg: 8, md: 12, sm: 24, xs: 24 }">
  <ng-template #item let-item>
    <nz-list-item>

      <nz-card *ngIf="item" nzHoverable [nzActions]="[op1]" [nzExtra]="extra">
        <ng-template #op1>
          <a [routerLink]='["/management/read-book",item.bookId]'>开始阅读</a>
        </ng-template>
        <nz-card-meta [nzTitle]="nzTitle" [nzDescription]="nzDescription">

          <ng-template #nzTitle>
            <a [routerLink]='["/management/read-book",item.bookId]'>{{ item.title }}</a>
          </ng-template>
          <ng-template #nzDescription>
            <nz-row>
              <nz-col [nzSpan]="19">
                <nz-progress nzSize="small" [nzPercent]="item.progress/item.numberOfPages*100|number:'3.1-2'">
                </nz-progress>
              </nz-col>
            </nz-row>
            <ellipsis>{{ item.description }}</ellipsis>
          </ng-template>
        </nz-card-meta>
      </nz-card>
      <ng-template #extra>
        <a (click)="delete(item.bookId)">delete</a>
      </ng-template>
    </nz-list-item>
  </ng-template>
</nz-list>
