<div class="alain-default__progress-bar" *ngIf="isFetching"></div>
<layout-header style="display:none;" class="alain-default__header"></layout-header>
<layout-sidebar class="alain-default__aside"></layout-sidebar>
<section class="alain-default__content">
  <router-outlet></router-outlet>
</section>
<ng-template #settingHost></ng-template>
