.alain-default__fixed .alain-default__content {
  margin-top: 0;
}

/* You can add global styles to this file, and also import other style files */
.e-pdfviewer .e-pv-text {
  //   background: white;
  //   color: black;
  //   opacity: 1;
  //   border: 1px solid red;
}

.e-pv-page-canvas {
  ///display: none !important;
}

::selection {
  color: transparent;
}
