<div class="container">
  <header-i18n showLangText="false" class="langs"></header-i18n>
  <div class="wrap">
    <div class="top">
      <div class="head">
        <img class="logo" src="./assets/logo-color.svg" />
        <span class="title">Book In Depth</span>
      </div>
      <div class="desc">Dig Into Book With Gitter.</div>
    </div>
    <router-outlet></router-outlet>
    <global-footer [links]="links">
      Copyright
      <i nz-icon nzType="copyright"></i> 2019 <a href="" target="_blank">symphony2013@outlook.com</a>出品
    </global-footer>
  </div>
</div>
